* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* ------------------------------------------------------------------------ */
.popup{
    width: 425px;
    height: 555px;
    z-index: 1;
    padding: 2px;
    box-shadow: 0px 0px 12px -4px black;
    border-radius: 8px;
    background-color:white;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    visibility: hidden;
    transition: transform 0.4s , top 0.4s;
}

.open-Popup{
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
    visibility: visible;
}

.open-blur{
    filter: blur(5px);
    opacity:0.6;   
}

ion-icon{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 26px;
    cursor: pointer;
}

ion-icon:hover {
    color: #FA7070;
}


.title2{
    padding: 0 5px;
    width: 98%;
    height: 80px;
    font-size: 22px;
    font-weight: 600;
    margin:5px 0px;
    margin-bottom: 0;

}
h2{
    margin: 5px;
}

.sp{
    margin-top: -8px;
    margin-left: 12px;
    width:94% ;
}

.special{
    color: #aaa;
    font-size: 16px;
    letter-spacing: -1px;
    margin: 5px;
}
.prsnl-info{
    margin-top: 10px 0;
    padding: 12px;
    width: 93%;
    height: 365px;
}

#Nom , #Prenom {
    width: 47.50%;
    height: 33px;
}

#mail, #mdp, #numtel,#adrs{
    width: 98%;
    height: 33px;

}

#Nom , #Prenom , #mail , #mdp, #numtel,#adrs{
    outline:none;
    font-size: 16px;
    border: 1px solid lightgrey;
    padding: 4px 8px ;
    border-radius: 6px;
    margin-top:-5px;
    margin-bottom: -5px;
}

#Nom:hover , #Prenom:hover , #mail:hover , #mdp:hover, #numtel:hover,#adrs:hover {
    border: 2px solid #FA7070;
}

.ic1{
    position: relative;
    top: 5px;
    left: -2px;
    font-size: 18px;
}
.more-info{
    font-weight: 500;
    margin: 0px;
    font-size: 13px;
    margin-bottom: -8px;
}

.more-info2{
    font-weight: 500;
    margin-top: 10px;
    font-size: 13px;
    margin-bottom: -22px;
}

#day , #mnth , #yr{
    width: 32%;
    height: 40px;
    padding: 10px;
    border-radius: 6px;
    outline: none;
    margin-top:-15px;
}

#day:hover , #mnth:hover , #yr:hover {
    border: 2px solid #FA7070;
}

.boder-zone {
    display: inline-block;
    margin: -18px 3px 10px;
    text-align: center;
    width: 30%;
    height: 38px;
    padding: 10px ;
    border: 1px solid gray;
    border-radius: 6px; 
}

.boder-zone:hover {
    border: 2px solid #FA7070;
}

.sinscr {
    position: relative;
    top: 38px;
    left: 27%;
    color: white;
    background-color:#FA7070;
    padding: 8px 25px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
    text-align: center;
    border: none;
    cursor: pointer;
    width: 45%;
    height: 38px;
}

#main{
    width: 100%;
    height: 100vh;
}
/* ------------------------------------------------------------------------------------- */

.global-container {
    box-shadow: 0px 0px 3px black;
    position: absolute;
    top: 0px;
    left: 30%;
    width: 40%;
    height: 97%;
    margin: 10px auto;
}

/* Heding element  */

.logo-heading {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    height: 190px;
    text-align: center;
}

.logo {
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -35px;
    height: 70px;
    width: 70px;
}

.heading1 {
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -100px;
}

.Pdesc{
    position: absolute;
    bottom: 0;
    padding: 10px 0px;
    left:0%;
    line-height: 1.6;
}

/* Form elements */ 

.container {
    position: absolute;
    top: 35%;
    left: 50%;
    margin-left: -200px;
    text-align: center;
    width: 400px;
    height: 63%;
    padding: 20px;
}

.container input[type="text"] {
    border-radius: 4px;
    border: 1px solid rgba(87, 87, 87, 0.815);
    width: 400px;
    height: 50px;
    margin-left: -20px;
    outline: none;
    font-size: 16px;
    padding: 8px 15px;
}

.container input[type="password"] {
    border-radius: 4px;
    border: 1px solid rgba(87, 87, 87, 0.815);
    width: 400px;
    height: 50px;
    margin-left: -20px;
    outline: none;
    font-size: 16px;
    padding: 8px 15px;
}

.container input[type="text"]:focus { 
    border:2px solid #FA7070;
}

.container input[type="password"]:focus { 
    border:2px solid #FA7070;
}


.container input[type="submit"] {
    background-color: #FA7070;
    color: white;
    font-weight: 700;
    border: none;
    padding: 12px 10px;
    font-size: 18px;
    width: 400px;
    height: 55px;
    border-radius: 4px;
    margin-left: -20px;
    margin-top: 30px;
    cursor: pointer;
}

.Pdescafter {
    font-size: 12px;
}

button {
    cursor: pointer;
    background-color: #673F69;
    color: white;
    border-radius: 4px;
    padding: 2px 8px;
    font-weight: 600;
}


hr {
    width: 400px;
    margin-left: -20px;
}
.Pdescfoot {
    padding: 15px 0;
    font-size: 12px;
    font-weight: 600;
    
}

.Footlogo {
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    left: 57%;
    width: 20px;
    height: 20px;
}

